:root {
  --base-color: #FFFFFF;
  --theme-color: #FF0000;
  --sec-bg-color: #28272C;
  --shadow-color: #FF00004D;
  --main-font: 'Nunito Sans';
  --sec-font: 'Open Sans';
}

body {
  font-family: var(--main-font), sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  width: 1088px;
  height: 100%;
}

